html {
  min-height: 600px;
	height: 100%;
}

body {
  min-height: 600px;
  padding-top: 60px;
  padding-bottom: 30px;
}

.border-box {
  box-sizing: border-box;
}

#twiml-box {
  /* Maybe better to use input-xlarge? */
  width: 410px;
  margin-bottom: 20px;
}

.footer .progress {
  margin-bottom: 0px;
}

.footer .poweredby {
  text-align: right;
}

#submitTwiml {
  width: 100%;
}

.mission {
  background-color: #eee;
  color: #222;
}
