{% extends "skeleton.html" %}

{% block title %}gather{% endblock %}

{% block topmenu %}
  <li><a href="/">&lt;Response&gt;</a></li>
  <li><a href="/lesson/say">&lt;Say&gt;</a></li>
  <li><a href="/lesson/play">&lt;Play&gt;</a></li>
  <li><a href="/lesson/record">&lt;Record&gt;</a></li>
  <li class="active"><a href="/lesson/gather">&lt;Gather&gt;</a></li>
  <li><a href="/lesson/sms">&lt;Sms&gt;</a></li>
{% endblock %}

{% block verb %}gather{% endblock %}

{% block lesson %}
  <h2>Lesson 4: &lt;Gather&gt;</h2><br/>
  <p>The <strong>&lt;Gather&gt;</strong> verb receives input from the user’s dialpad. The input is sent to the url pointed to by the action attribute. Give it a go!</p>

  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          action
        </a>
      </div>
      <div id="collapseOne" class="collapse in">
        <div class="accordion-inner">
          The "action" attribute is a URL that will handle the results of the &lt;Gather&gt; verb. Twilio will pass this URL the digits recorded in the "Digits" parameter. The TwiML at this URL will then be fetched and executed. <br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>action</td><td>relative or absolute URL</td><td>current document URL</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          method
        </a>
      </div>
      <div id="collapseTwo" class="collapse in">
        <div class="accordion-inner">
          The method attribute controls whether Twilio sends a GET or a POST to the action URL.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>method</td><td>GET, POST</td><td>POST</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          timeout
        </a>
      </div>
      <div id="collapseThree" class="collapse in">
        <div class="accordion-inner">
          The &lt;Gather&gt; verb will exit after this many seconds have elapsed. <br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>timeout</td><td>positive integer</td><td>5 seconds</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          finishOnKey
        </a>
      </div>
      <div id="collapseFour" class="collapse in">
        <div class="accordion-inner">
          The &lt;Gather&gt; verb will exit after this key has been pushed. This key is not included in the Digits parameter to the Action URL. <br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>finishOnKey</td><td>any digit, #, *</td><td>#</td></tr>
          </table>
        </div>
      </div>
    </div>    
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
          numDigits
        </a>
      </div>
      <div id="collapseFive" class="collapse in">
        <div class="accordion-inner">
          The The &lt;Gather&gt; verb will exit after this many digits have been entered.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>numDigits</td><td>any digit, #, *</td><td>#</td></tr>
          </table>
        </div>
      </div>
    </div>      
  </div>
{% endblock %}

{% block staticdemo %}
  <h2>Demo</h2>
  <input type="hidden" id="token" value="{{params['token']}}">
  <ul class="nav nav-tabs" id="demo-tabs">
    <li class="active"><a href="#demo-twiml" data-toggle="tab">TwiML</a></li>
    <li><a href="#demo-python" id="python-link" data-toggle="tab">Python</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="demo-twiml">
      <textarea id="demo-box-twiml" rows="1" style="display:none;">
<Response>
  <Gather action="http://trytwilio.herokuapp.com/demo/callback" method="GET" numDigits="1" timeout="10">
    <Say>
      Press 1 to hear an example of the Say verb.
      Press 2 to hear Banana Phone.
    </Say>
  </Gather>
</Response></textarea>
    </div>
    <div class="tab-pane" id="demo-python">
      <textarea id="demo-box-python" rows="1" style="display:none;">
gather_demo_not_client = twiml.Response()
with gather_demo_not_client.gather(action="http://trytwilio.herokuapp.com/demo/callback", method="GET", numDigits="1", timeout="10") as g:
g.say("Press 1 to hear an example of the Say verb. Press 2 to hear Banana Phone.")</textarea>
    </div>
  </div><br>
  <center><button class="btn btn-info btn-large" id="callButton" style="width:100%;">Call</button></center>
{% endblock %}

{% block mission %}
<!-- All sounds recorded by Mike Koenig. Accessed at soundbible.com. -->
<p>Make a menu. When you push:</p>
<p>1) Have a cow moo. (You can use <a href=http://trytwilio.herokuapp.com/static/sounds/moo.mp3>http://trytwilio.herokuapp.com/static/sounds/moo.mp3</a>.)</p>
<p>2) Have a sheep baa. (You can use <a href=http://trytwilio.herokuapp.com/static/sounds/baa.mp3>http://trytwilio.herokuapp.com/static/sounds/baa.mp3</a>.)</p>
<p>3) Have a horse neigh. (You can use <a href=http://trytwilio.herokuapp.com/static/sounds/neigh.mp3>http://trytwilio.herokuapp.com/static/sounds/neigh.mp3</a>.)</p>
{% endblock %}

{% block twimlInput %}
<ul class="nav nav-tabs" id="twiml-tabs">
  <li class="active"><a href="#twiml-div1" data-toggle="tab">Main</a></li>
  <li><a href="#twiml-div2" id="gather2" data-toggle="tab">Push 1</a></li>
  <li><a href="#twiml-div2" id="gather3" data-toggle="tab">Push 2</a></li>
  <li><a href="#twiml-div2" id="gather4" data-toggle="tab">Push 3</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="twiml-div1">
    <textarea id="twiml-box" placeholder="Type your TwiML here..." rows="1" style="display:none;"><Response>

</Response></textarea>
  </div>
  <div class="tab-pane" id="twiml-div2">
    <textarea id="twiml-box2" placeholder="Type your TwiML here..." rows="1" style="display:none;"><Response>

</Response></textarea>
  </div>
  <div class="tab-pane" id="twiml-div3">
    <textarea id="twiml-box3" placeholder="Type your TwiML here..." rows="1" style="display:none;"><Response>

</Response></textarea>
  </div>
  <div class="tab-pane" id="twiml-div4">
    <textarea id="twiml-box4" placeholder="Type your TwiML here..." rows="1" style="display:none;"><Response>

</Response></textarea>
  </div>
</div>
{% endblock %}

{% block progressbar %}
  {{ super() }}
  <style type="text/css">
    .progress .bar { width: 80%; }
  </style>
{% endblock %}
