{% extends "skeleton.html" %}

{% block title %}Welcome{% endblock %}

{% block topmenu %}
  <li class="active"><a href="/">&lt;Home&gt;</a></li>
  <li><a href="/say">&lt;Say&gt;</a></li>
  <li><a href="#">&lt;Play&gt;</a></li>
  <li><a href="#">&lt;Record&gt;</a></li>
  <li><a href="#">&lt;Gather&gt;</a></li>
  <li><a href="#">&lt;Sms&gt;</a></li>
{% endblock %}

{% block lesson %}
  <h1>What is TwiML?</h1>
  <p>TwiML is a set of instructions you can use to tell Twilio what to do when you receive an incoming call or SMS.</p>
  <p>When someone makes a call or sends an SMS to one of your Twilio numbers, Twilio will look up the URL associated with that phone number and make a request to that URL. Twilio will read TwiML instructions at that URL to determine what to do: record the call, play a message for the caller, prompt the caller to press digits on their keypad, etc.</p>
  <h2>&lt;Response&gt;</h2><br/>
  <p>The &lt;Response&gt; verb lets us start a twilio response</p>
  <p>It pretty much allows for you to make any type of app on twilio. However, it can't really do anything on its own, so why not begin the TryTwilio tutorial and we'll walk you through the steps of creating one yourself?</p>
{% endblock %}

{% block staticdemo %}
  <h2>Demo Time</h2>
  <p>Throughout TryTwilio, there will be a demo in this area which will give you an example of what the particular TwiML verb does.</p>
{% endblock %}

{% block twimlbox %}
  <h2>Your Turn</h2>
  <p>This is where you'll try out the waters of telecommunication. You'll write out TwiML responses in this area throughout the tutorial and actually RUN it. You thought the demo was cool? Nothing's cooler than running your OWN version!</p>
  <a href="/say"><button class="btn btn-primary">Start</button></a>
{% endblock %}