{% extends "skeleton.html" %}

{% block title %}play{% endblock %}

{% block topmenu %}
  <li><a href="/">&lt;Response&gt;</a></li>
  <li><a href="/lesson/say">&lt;Say&gt;</a></li>
  <li class="active"><a href="/lesson/play">&lt;Play&gt;</a></li>
  <li><a href="/lesson/record">&lt;Record&gt;</a></li>
  <li><a href="/lesson/gather">&lt;Gather&gt;</a></li>
  <li><a href="/lesson/sms">&lt;Sms&gt;</a></li>
{% endblock %}

{% block verb %}play{% endblock %}

{% block lesson %}
<h2>Lesson 2: &lt;Play&gt;</h2></br>
<p>The &lt;Play&gt; verb plays the file at the given url. Many different audio formats are supported--give it a shot!</p>
    <div class="accordion" id="accordion2">
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
            loop
          </a>
        </div>
        <div id="collapseOne" class="collapse in">
          <div class="accordion-inner">
            The loop attribute controls how many times the text is repeated. A value of 0 will cause the text to loop until the call is hung up.<br/>
            <table class="table table-condensed table-striped">
              <thead>
                <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
              </thead>
              <tr><td>loop</td><td>integer &gt;= 0</td><td>1</td></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block staticdemo %}
  <h2>Demo</h2>
  <input type="hidden" id="token" value="{{params['token']}}">
  <textarea id="demobox" placeholder="lol" rows="1" style="display:none;"></textarea><br>
  <center><button class="btn btn-info btn-large" id="callButton" style="width:100%;">Call</button></center>
{% endblock %}

{% block mission %}
Write TwiML to play "You Crazy, Robot" (<a href="http://trytwilio.herokuapp.com/static/sounds/crazy-robot.mp3">http://trytwilio.herokuapp.com/static/sounds/crazy-robot.mp3</a>).
{% endblock %}

{% block twimlInput %}
<textarea id="twiml-box" placeholder="Type your TwiML here..." rows="1" style="display:none;"><Response></Response></textarea>
{% endblock %}

{% block progressbar %}
  {{ super() }}
  <style type="text/css">
    .progress .bar { width: 20%; }
  </style>
{% endblock %}
