{% extends "skeleton.html" %}

{% block title %}Record{% endblock %}

{% block topmenu %}
  <li><a href="/">&lt;Response&gt;</a></li>
  <li><a href="/lesson/say">&lt;Say&gt;</a></li>
  <li><a href="/lesson/play">&lt;Play&gt;</a></li>
  <li class="active"><a href="/lesson/record">&lt;Record&gt;</a></li>
  <li><a href="/lesson/gather">&lt;Gather&gt;</a></li>
  <li><a href="/lesson/sms">&lt;Sms&gt;</a></li>
{% endblock %}

{% block lesson %}
  <h2>Lesson 5: &lt;Record&gt;</h2><br/>
  <p>The &lt;Record&gt; verb records the caller’s voice and returns the URL of a file containing the recording. Take it for a spin!</p>
  <table class="table table-condensed table-striped">
      <thead>
      <tr>
        <th>Attribute Name</th>
        <th>Allowed Values</th>
        <th>Default Values</th>
      </tr>
	  </thead>
	  <tbody>
        <tr>
	      <td>action</td>
	      <td>relative or absolute URL</td>
	      <td>current document URL</td>
	    </tr>
        <tr>
	      <td>method</td>
	      <td>GET, POST</td>
	      <td>POST</td>
	    </tr>
        <tr>
	      <td>timeout</td>
	      <td>positive integer</td>
	      <td>5</td>
	    </tr>
        <tr>
	      <td>finishOnKey</td>
	      <td>any digit, #, *</td>
	      <td>1234567890*#</td>
	    </tr>
        <tr>
	      <td>maxLength</td>
	      <td>integer greater than 1</td>
	      <td>3600 (1 hour)</td>
	    </tr>
        <tr>
	      <td>transcribe</td>
	      <td>true, false</td>
	      <td>false</td>
	    </tr>
        <tr>
	      <td>transcribeCallback</td>
	      <td>relative or absolute URL</td>
	      <td>none</td>
	    </tr>
        <tr>
	      <td>playBeep</td>
	      <td>true, false</td>
	      <td>true</td>
	    </tr>
	  </tbody>
    </table>	

  <h3>action:</h3>
  <p>The action attribute is a URL that will handle the results of the &lt;Record&gt; verb. This URL can be hit with either a GET or a POST request. &lt;Record&gt; will give this URL another URL that contains the audio file in the RecordingUrl parameter. TwiML will then be fetched from this address and executed. <strong>Note: In general, any TwiML after a &lt;Record&gt; verb is unreachable. The only exception to this is if your recording is silent, the action URL will not be fetched and execution will continue to the next verb.</strong></p>
  <br>
  <h3>method:</h3>
  <p>The method attribute controls whether Twilio sends a GET or a POST to the action URL.</p>
  <br>
  <h3>timeout:</h3>
  <p>The &lt;Record&gt; verb will exit after this many seconds have elapsed.</p>    
  <h3>finishOnKey:</h3>
  <p>The &lt;Record&gt; verb will exit after this key has been pushed.</p>
  <h3>numDigits:</h3>
  <p>The &lt;Record&gt; verb will exit after this many digits have been entered.</p>
  <h3>maxLength:</h3>
  <p>The &lt;Record&gt; verb will exit after this many seconds have elapsed.</p>
  <h3>transcribe:</h3>
  <p>If this attribute is true, Twilio will attempt to convert your recording to text. Note that this feature costs extra.</p>
  <h3>transcribeCallback:</h3>
  <p>The transcribeCallback attribute is used in conjunction with the transcribe attribute. When Twilio has finished transcribing your recording, it will make a POST request to this URL along with some parameters, the most interesting of which is TranscriptionText, which contains the actual transcription.</p>
  <h3>playBeep:</h3>
  <p>If this attribute is set to true, a beep will play to indicate the start of recording.</p>

{% endblock %}        

{% block mission %}
Make a recording of you saying "I am a DOer" and play it back.
{% endblock %}
