{% extends "skeleton.html" %}

{% block title %}Say{% endblock %}

{% block topmenu %}
  <li><a href="/">&lt;Response&gt;</a></li>
  <li class="active"><a href="/lesson/say">&lt;Say&gt;</a></li>
  <li><a href="/lesson/play">&lt;Play&gt;</a></li>
  <li><a href="/lesson/record">&lt;Record&gt;</a></li>
  <li><a href="/lesson/gather">&lt;Gather&gt;</a></li>
  <li><a href="/lesson/sms">&lt;Sms&gt;</a></li>

{% endblock %}

{% block verb %}say{% endblock %}

{% block lesson %}
  <h2>Lesson 1: &lt;Say&gt;</h2><br/>
  <p>The &lt;Say&gt; verb converts text into speech that will be played in your call. Try it out!</p>
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  voice
                </a>
              </div>
              <div id="collapseOne" class="collapse in">
                <div class="accordion-inner">
                  The voice attribute controls whether the text is read with a male voice or a female voice.<br/>
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
                    </thead>
                    <tr><td>voice</td><td>man, woman</td><td>man</td></tr>
                  </table>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  language
                </a>
              </div>
              <div id="collapseOne" class="collapse in">
                <div class="accordion-inner">
                  The language attribute controls what language’s accent and pronunciations will be used to read the text.<br/>
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
                    </thead>
                    <tr><td>language</td><td>en, en-gb, es, fr, de</td><td>en</td>
                  </table>
                </div>
              </div>
              <div id="collapseTwo" class="collapse in">
                <div class="accordion-inner">
                  The language attribute controls what language’s accent and pronunciations will be used to read the text.
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
                    </thead>
                    <tr><td>language</td><td>en, en-gb, es, fr, de</td><td>en</td>
                  </table>                  
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                 loop
                </a>
              </div>
              <div id="collapseThree" class="collapse in">
                <div class="accordion-inner">
                  The loop attribute controls how many times the text is repeated. A value of 0 will cause the text to loop until the call is hung up. </br>
                  <table class="table table-condensed table-striped">
                    <thead>
                      <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
                    </thead>
                    <tr><td>loop</td><td>integer &gt;=0</td><td>1</td>
                  </table>
                </div>
              </div>
            </div>
          </div>
{% endblock %}

{% block staticdemo %}
  <h2>Demo</h2>
  <input type="hidden" id="token" value="{{params['token']}}">
  <form class="form-inline">
    <input type="text" placeholder="Your phone number" id="phoneNumber">
    <button class="btn btn-primary" id="callButton">Call</button>
    <button class="btn btn-error" id="hangupButton">Hangup</button>
  </form>
{% endblock %}

{% block mission %}
Write TwiML for a female voice to say "Howdy partner!" three times.
{% endblock %}

{% block progressbar %}
  {{ super() }}
  <style type="text/css">
    .progress .bar { width: 20%; }
  </style>
{% endblock %}
