<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %} - Try Twilio</title>
    <meta name="description" content="TryTwilio make learning TwiML easy and fun">
    <meta name="keywords" content="twilio,twiml,programming,languages,voip,voice,sms,gather,play,say">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/codemirror.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">TryTwilio</a>
          <ul class="nav">
            {% block topmenu %}{% endblock %}
          </ul>
          <div class="pull-right btn-group" data-toggle="buttons-radio">
            <button class="btn" style="float:left;">Phone</button>
            <button class="btn">Browser</button>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" id="verb" value="{% block verb %}{% endblock %}">
    <div class="container" style="height:100%;">
      <div class="row" style="height:100%;">
        <div class="span6 well border-box" style="height:100%;">
          {% block lesson %}{% endblock %}
        </div>
        <div class="span6" style="height:100%;">
          <div class="row" style="height:100%;">
            <div class="span6 well border-box" style="height:38%;">
              {% block staticdemo %}{% endblock %}
            </div>
            <div class="span6 well border-box" style="height:59%;">
              {% block twimlbox %}
                <h2>Your Mission</h2>
                <div class="well mission">
                {% block mission %}{% endblock %}
                </div>
                <textarea id="twiml-box" placeholder="Type your TwiML here..." rows="1" style="display:none;"></textarea>
                <br />
                <button class="btn-large btn-success" id="submitTwiml">Submit TwiML</button>
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div class="navbar navbar-fixed-bottom">
        <div class="navbar-inner">
          <div class="container" style="padding-top:10px;">
            <div class="row">
              <div class="span3 pull-left">Made with &lt;3 for Tweek</div>
              {% block progressbar %}
              <div class="span6">
                <div class="progress progress-striped active">
                  <div class="bar">
                  </div>
                </div>
              </div>
              {% endblock %}
              <div class="span3 pull-right poweredby">Powered by <a href="http://twilio.com">Twilio</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="http://syssgx.github.com/xml.js/js/libs/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="http://syssgx.github.com/xml.js/js/libs/prettify.js"></script>
    <script type="text/javascript" src="//static.twilio.com/libs/twiliojs/1.0/twilio.min.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/xmllint.js"></script>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/codemirror.js"></script>
    <script>
    $(document).ready(function () {
      $(".collapse").collapse();
    });
    </script>
  </body>
</html>
