{% extends "skeleton.html" %}

{% block title %}sms{% endblock %}

{% block topmenu %}
  <li><a href="/">&lt;Response&gt;</a></li>
  <li><a href="/lesson/say">&lt;Say&gt;</a></li>
  <li><a href="/lesson/play">&lt;Play&gt;</a></li>
  <li><a href="/lesson/record">&lt;Record&gt;</a></li>
  <li><a href="/lesson/gather">&lt;Gather&gt;</a></li>
  <li class="active"><a href="/lesson/sms">&lt;Sms&gt;</a></li>
{% endblock %}

{% block verb %}sms{% endblock %}

{% block lesson %}
  <h2>Lesson 5: &lt;Sms&gt;</h2><br/>
  <p>The &lt;Sms&gt; verb sends a text to a phone number during a call. Go for it!</p>
  <div class="accordion" id="accordion2">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
          to
        </a>
      </div>
      <div id="collapseOne" class="collapse in">
        <div class="accordion-inner">
          The "to" attribute specifies what phone number to send the text to. Defaults to the called party.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>to</td><td>phone number</td><td>see note above</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
          from
        </a>
      </div>
      <div id="collapseTwo" class="collapse in">
        <div class="accordion-inner">
          The "from" attribute specifies which phone number the text will be sent from. This number must be a Twilio number, and it defaults to the calling party.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>from</td><td>phone number</td><td>see note above</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
          action
        </a>
      </div>
      <div id="collapseThree" class="collapse in">
        <div class="accordion-inner">
          The "action" attribute is a URL that Twilio will make a request to when the text is sent (or fails). Twilio will pass the SmsStatus parameter, which can be ‘sent’ or ‘failed’. If this attribute is specified, TwiML will be fetched from this address and executed. Note: Any TwiML after an <Sms> verb specifying an action URL is unreachable.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>action</td><td>relative or absolute URL</td><td>none</td></tr>
          </table>
        </div>
      </div>
    </div>
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
          method
        </a>
      </div>
      <div id="collapseFour" class="collapse in">
        <div class="accordion-inner">
          How Twilio will notify your action URL, either GET or POST.<br/>
          <table class="table table-condensed table-striped">
            <thead>
              <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
            </thead>
            <tr><td>method</td><td>GET, POST</td><td>POST</td></tr>
          </table>
        </div>
      </div>
    </div>
   <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        statusCallback
      </a>
    </div>
    <div id="collapseFive" class="collapse in">
      <div class="accordion-inner">
        hen the text is sent (or failed), Twilio will make a POST request to this URL to notify you. It will tell you if it worked in the <em>SmsStatus</em> parameter--either ‘sent’ or ‘failed’.<br/>
        <table class="table table-condensed table-striped">
          <thead>
            <tr><th>Attribute Name</th><th>Allowed Values</th><th>Default Values</th></tr>
          </thead>
          <tr><td>statusCallback</td><td>relative or absolute URL</td><td>none</td></tr>
        </table>
      </div>
    </div>
  </div>
 </div> 
{% endblock %}

{% block staticdemo %}
  <h2>Demo</h2>
  <input type="hidden" id="token" value="{{params['token']}}">
  <input type="text" placeholder="Your phone number" id="phoneNumber">
  <button class="btn btn-primary" id="callButton">Call</button>
  <button class="btn btn-error" id="hangupButton">Hangup</button>
{% endblock %}

{% block mission %}
Write TwiML for a female voice to say "Howdy partner!" three times.
{% endblock %}

{% block twimlInput %}
<textarea id="twiml-box" placeholder="Type your TwiML here..." rows="1" style="display:none;"></textarea>
{% endblock %}

{% block progressbar %}
  {{ super() }}
  <style type="text/css">
    .progress .bar { width: 20%; }
  </style>
{% endblock %}                    
